*{
    margin: 0;
    padding: 0;
    font-family: 'lato';
    overflow-x: hidden;
    /* height: 50%; */
    /* box-sizing: border-box; */
}

:root{
    --kprimary:#b25A06;
    --kwhite:#fff;
    --kblak:#000;
    --kgrey: grey;
    --kgray: gray;
    --kbg:#efefef;
}

body{
    background: var(--kprimary);
}
p{
    width: 90%;
    margin: auto;
    text-align: justify;
}
.nav{
    width: 100%;
    height: 60px;
    background: var(--kprimary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    border-bottom: 1px solid var(--kblak);
}

.logo{
  font-size: 30px;
  margin-left: 150px;
  justify-content: center;
  margin-top: 15px;
  display: flex;
}

.nav .logo img{
  width: 140px;
  height: 140px;
}

/* on line uderline 
.under{
  border: 1.5px solid black;
  width: 100px;
  margin-bottom: 15px;
} */

/* ================= */
.list{
    display: flex;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
    margin-bottom: 10px;
}

.list ul{
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: center;
}

.list ul li{
    margin:20px;
    font-size: 17px;
    color: var(--kblak);
    overflow: hidden;
}

.list ul li a{
  text-decoration: none;
  color:var(--kblak);
  align-items: center;
  padding-bottom: 10px;

}

.list ul li a:hover{
  text-decoration: none;
  color: var(--kwhite);
  font-size: 18px;
  transition: 0.5s;
  border-bottom: 1px solid var(--kblak);
}

/* =============================================== */

/* partie au top de la collection */
.con{ 
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: var(--kprimary);
    width: 60%;
    margin: auto;
    display: flex;
    margin-top: 110px;
}

.con#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.con-img{
    width:100% ;
    height: 500px;
    object-fit: cover;
}

.left-box{
    width: 50%;
    height: 100%;
    position: relative;
}

.right-box{
    width: 50%;
    height: 100%;
    position: relative;
}

.left-box img{
    width: 100%;
}

.right-box{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    text-align: justify;
}
.rigth-box-titre{
     
    margin-bottom: 20px;
}


/* =========================== */

/* partie top magazine*/
.title{
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-bottom: 90px;
}

.list-mag{
    background: transparent;
    width: 80%;
    display: flex;
}

.mag{
    position: relative;
    width: 350px;
    height: 320px;
    background: var(--kblak);
    margin: 10px;
    color: var(--kwhite);
    border-radius: 8px;
}
.mag img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.mag .detail{
    width: 100%;
    height: 0;
    text-align: center;
    font-size: 15px;
    position: absolute;
    background: linear-gradient(rgb(0,0,0,0.1),var(--kblak));
    left: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    transition: height 0.5s;
    flex-direction: column;
}
.mag .detail h3{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.mag .detail p{
    font-size: 1rem;
    initial-letter: 1.8;
    overflow: hidden;
}
.mag .detail i{
    margin-top: 5px;
    font-size: 20px;
    color: var(--kprimary);
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 22px;
}
.mag .detail a{
    overflow: hidden;
}
.mag:hover img{
    transform: scaleX(1.1);
}
.mag:hover .detail{
    height: 100%;
}
/* ========================== */


/* partie de style commun */
.call-to-action-container .more button{
    border: 2px solid var(--kblak);
    background: transparent;
    font-size: 15px;
    border-radius: 60px;
    outline: 0;
    padding: 9px 35px;
    font-size: 18px;
}

/* .call-to-action-container .more:hover{
    color: var(--kprimary);
    cursor: pointer;
} */
.call-to-action-container .more button:hover{
    color: var(--kprimary);
    cursor: pointer;
    background: var(--kblak);
}

/* .call-to-action-container .more{
    text-decoration: none;
    color: var(--kblak);
} */

.block-auto{
    /* margin: auto; */
    position: relative;
    margin: 3em auto;
}

.call-to-action-container{
    position: relative;
    margin: 0.5em auto;
    text-align: center;
    background: transparent;
}

.title{
    width: 60%;
    text-align: center;
}

.button{
    border: 2px solid var(--kblak);
    background: transparent;
    font-size: 15px;
    border-radius: 40px;
    outline: 0;
    padding: 9px 35px;
    margin-top: 20px;
    margin-left: 30%;
}

.button a{
    text-decoration: none;
    color: var(--kblak);
}
.button:hover{
    cursor: pointer;
    background: var(--kblak);
    color: var(--kprimary);
}

.button a:hover{
    color: var(--kprimary);
}

.about-container .buttons{
    border: 2px solid var(--kprimary);
    background: transparent;
    font-size: 15px;
    border-radius: 40px;
    outline: 0;
    padding: 9px 35px;
    margin-top: 20px;
    margin-left: 20%;
    color: var(--kblak);
}
.about-container p{
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}
/* ========================== */

/* partie suscription */
.subscription-container{
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: var(--kblak);
    width: 70%;
    margin: auto;
    display: block;
    margin-top: 40px;
    text-align: center;
    padding: 5em;
}

.subscription-container h1{
    font-size: 30px;
    color: var(--kprimary);
    text-transform: uppercase;
    font-weight: 400;
}
.subscription-container p{
    font-size: 18px;
    color: var(--kwhite);
    margin: 1.2em;
}
/* ==================== */

/* partie fidba graphics books  */
.books-container{
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: var(--kbg);
    width: 100%;
    margin: auto;
    display: block;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
}

.books-container h1{
    font-size: 30px;
    color: var(--kprimary);
    margin-bottom: 20px;
    font-weight: 400;
}

.books-container h3{
    font-size: 20px;
    color: var(--kblak);
    margin-bottom: 15px;
    font-weight: 300;
}

.books-container p{
    letter-spacing: 1.5px;
    font-size: 12px;
    color: var(--kwhite);
}

.books-container button{
    border: 2px solid var(--kprimary);
    background: transparent;
    font-size: 15px;
    border-radius: 40px;
    outline: 0;
    padding: 9px 35px;
    margin-top: 20px;
    color: var(--kwhite);
}


.books-container .slide-content{
    margin: 0 10px;
    /* background: yellow; */
    /* padding: 20px; */
}

.books-container .cards{
    border: 5px solid var(--kprimary);
    /* background-color: blue; */
    width: 150px;
    margin: 10px;
}

.books-container .slide-container{
    /* max-width: 1120px; */
    width: 90%;
    background-color: transparent;
    padding: 20px 0;
}

.books-container .buttons{
    color: var(--kblak);
}

.books-container .buttons:hover{
    color: var(--kblak);
    cursor: pointer;
}

/* slide part */
/* .xd{
    color: var(--kwhite);
    font-size: 10px;
} */
/* ============================== */


/* partie about */
.about-container{
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: var(--kblak);
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
}

.about-container h1{
    font-size: 30px;
    color: var(--kprimary);
    margin-bottom: 20px;
    font-weight: 400;
}
.about-container p{
    letter-spacing: normal;
    font-size: 14px;
    color: var(--kwhite);
    font-weight: 200;
    text-align: justify;
}

.about-container button{
    border: 2px solid var(--kprimary);
    background: transparent;
    font-size: 15px;
    border-radius: 40px;
    outline: 0;
    padding: 9px 35px;
    margin-top: 20px;
    color: var(--kwhite);
}

.about-container button a{
    text-decoration: none;
    color: var(--kwhite);
}

/* ================== */
/* footer */
.foot-container{
    position: relative;
    justify-content: space-around;
    align-items: center;
    background: var(--kblak);
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 40px;
    text-align: center;
    padding: 30px;
}

.foot-container .foot-middle{
    background: transparent;
    color: var(--kwhite);
    display: block;
    text-align: justify;
    /* opacity: .2; */
}

.foot-container .foot-middle h4{
    margin-bottom: 5px;
    font-weight: 300;
}

.foot-container .foot-middle p{
    margin-bottom: 4px;
    font-size: 13px;
}

.foot-logo{
    color: #b25A06; 
    font-size: 20px;
}
.foot-logo p{
    font-size: 13px;
    margin: 5px;
}

.foot-logo .droit{
    margin-top: 50px;
}
/* ==================== */

/* more mags */
.list-mags{
    position: relative;
    align-items: center;
    background: var(--kprimary);
    width: 80%;
    margin: auto;
    display: flex;
    padding: 60px;
    flex-wrap: wrap;
    margin-top: 30px;
    color: var(--kwhite);
    padding: 10px;
    justify-content: center;
}

.list-mags .mag a{
    text-decoration: none;
    color: var(--kwhite);
}

/* one mag */

.photo{
    width: 80%;
    margin: auto;
    display: flex;
    /* background: blue; */
}

.photo .p{
    width: 40%;
}
.photo .p img{
    width: 100%;
    height: 300px;
}
.part-detail{
    width: 60%;
    background: transparent;
    margin-left: 2rem;
}
/* ========= */
@media(max-width: 770){
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .mag{
        width: 300px;
        height: 260px;
    }
}

@media(max-width:520px){
    .nav{
        display: flex;
        flex-direction: column;
        height: 140px;
        background: var(--kprimary);
    }
    .logo{
        margin-top: 5px;
        overflow: hidden;
        margin-left: -10px;
    }
    .list{ 
        position: absolute;
        margin-top: 10%;
        left: 0;
        padding: 12px;
    }
    .mag:focus .detail{
        height: 100%;
    }
    .foot-container{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .foot-container img{
        margin-left: -50px;
    }
    .foot-container .foot-middle{
        margin-left: 20%;
    }
    .foot-logo{
        margin: 10%;
    }
    .con{
        display: block;
        width: 100%;
        margin-top: 170px;
    }
    .con .left-box{
        width: 90%;
        margin: auto;
    }
    .con .left-box img{
        border-radius: 10px;
    }
    .con .right-box{
        width: 90%;
        margin: auto;
    }
    .list-mag{
        display: flex;
        flex-direction: column;
        width: 90%;
        background: transparent
    }
    .mag{
        width: 100%;
        margin: 7px auto;
    }
    /* ============================= */
    .photo{
        display: block;
        /* display: flex;
        flex-direction: column; */
        width: 90%;
        margin-bottom: 15px;
    }
    .photo .p{
        height: 30%;
        width: 100%;
        /* background: red; */
    }
    .photo .p img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .photo .part-detail{
        /* height: 50%; */
        width: 100%;
        /* background: white; */
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    .photo .part-detail img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        padding: 5px 10px;
    };
   
    .notes{
        background: red;
    }
    /* .photo .p{
        height: 40%
    }
    .photo .part-detail{
        width: 100%;
    }
    .photo .part-detail h2{}
    .photo .part-detail p{
        text-align: justify;
    }
    
    .photo .part-detail{}
    .photo .detail img{} */
}