*{
    margin: 0;
    padding: 0;
    font-family: 'lato';
}

:root{
    --kprimary:#b25A06;
    --kwhite:#fff;
    --kblak:#000;
    --kgrey: grey;
    --kgray: gray;
    --kbg:#efefef;
}
/* ================= */
body{
  background: var(--kwhite);
  /* overflow: hidden; */
}
/* Partie nav bar */
nav{
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  /* right: 0; */
  background: var(--kblak);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
  border-bottom: 1px solid var(--kprimary);
}
.nav .logo img{
  width: 140px;
  height: 140px;
}
.list{
  margin-right: 8%;
}
.logo{
  margin-left: 8%;
}
.list ul{
  display: flex;
  list-style: none;
  padding: 20px;
  justify-content: center;
  
}
.list ul li{
  margin:0 10px;
  font-size: 17px;
  color: #fff;
}

.list ul li a{
text-decoration: none;
color:#fff;
align-items: center;
padding-bottom: 10px;
transition: all .45s ease
}
.list ul li a:hover{
  text-decoration: none;
  border-bottom: 2px solid var(--kwhite);
} 
/* ======================================= */

/* partie titre */
.all-title{
  margin-top: 100px;
  align-content: center;
}

.all-title h5{
  margin-bottom: 10px;
}

.all-title h2{
  margin-bottom: 3px; 
  font-size: 30px;
  font-weight: 200;
  margin-left: 40%;
  margin-right: auto;
}

/* Fenetre */
.list-container{
    position: relative;
    align-items: center;
    background: var(--kwhite);
    width: 80%;
    margin: auto;
    display: flex;
    padding: 60px;
    flex-wrap: wrap;
    margin-top: 30px;
    color: var(--kwhite);
    padding: 10px;
    justify-content: center;
} 
/* ======================================= */

/* ======= business ============= */
.list-container .card{
    background: var(--kwhite); 
    width: 240px;
    height: 260px;
    margin: 7px;
    overflow-y: hidden;
  }
  .card a{
    text-decoration: none;
  }
  .card-picture{
    height: 60%;
    background: var(--kblak);
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .card-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-titles{
    display: block;
    margin: 0.1em;
  }
  
  .card-titles .element0 p{
  margin-top: 12px;
  color: var(--kblak);
  margin-bottom: 10px;
}

.sub-element .element1{
  display: flex;
  justify-content: space-between;
  color: var(--kgray);
  font-weight: 400;
}

 .card:hover{
  transform: scale(1.1);
  cursor: pointer;
  overflow: hidden;
  transition: 1s ease;
}
/* ============================== */

/* footer */
.foot-container{
  position: relative;
  background: var(--kbg);
  width: 100%;
  display: flex;
  margin-top: 40px;
  padding: 30px;
  color: var(--kblak);
  justify-content: space-around;
}

.foot-container .foot-logo{
  color: var(--kblak);
  font-size: 13px;
  display: block;
}

.foot-container .foot-logo img{
  width: 120px;
  height: 120px;
}

.foot-container .foot-logo .droit{
  margin-top: 50px;
}

.foot-container-adresse{
  display: block;
  justify-content: center;
  align-items: center;

}
.foot-container-adresse p{
  font-size: 13px;
  color: var(--kblak);
  margin-bottom:3px;
  margin-top: 10px;
}
.foot-container-adresse h3{
  font-weight: 200;
  align-items: center;
}

.foot-container .adresse{
  /* width: 200px; */
  /* margin-right: 20px; */
  color: var(--kgray);
}

.foot-container-icons {
  color: var(--kprimary);
}
@media(max-width: 610px){
   
  .list-container .card{
    width: 80%;
    height:320px;
  }
  .foot-container .icons{
    position: absolute;
    /* background: red; */
    bottom: 45px;
    right: 45px;
  }
}

@media(max-width: 510px){
  .nav{
    /* padding: 5px 15px; */
    background: black;
    height: 120px;
  }
  .nav .logo{
    margin-left: 30%;
  }
  .all-title{
    /* margin-top: 160px; */
    width: 80%;
    margin: auto;
    margin-top: 60px;
  }
  .all-title h2{
    font-size: 20px;
    margin-left:35%;
    margin-top: 170px;
  }
  .list{
    position: absolute;
    margin-top: 15%;
    left: 0;
    /* color: red; */
    margin-left: 12%;
  }
  .foot-container .icons{
    position: absolute;
    /* background: red; */
    bottom: 45px;
    right: 45px;
  }
  .list-container .card{
    width: 340px;
    height:320px;
  }
}




 