/* 
node crud
https://www.youtube.com/watch?v=fPuLnzSjPLE
react course
https://www.youtube.com/watch?v=b9eMGE7QtTk

social media
https://www.youtube.com/watch?v=FweHcYHkt9A

react with typescript
https://www.youtube.com/watch?v=bjnW2NLAofI
https://www.youtube.com/watch?v=R1uTPIOuT8s

node & react login(mysql)
https://www.youtube.com/watch?v=gZzFiFRlXwg

blog react & mysql
https://www.youtube.com/watch?v=0aPLk2e2Z3g

=============
https://www.youtube.com/watch?v=G-Cr00UYokU
node image
https://www.youtube.com/watch?v=TvIRCln5tno
https://www.youtube.com/watch?v=ZEaP_PGWiDw

carousel
https://www.youtube.com/watch?v=F4mI4Q9WklA
https://www.youtube.com/watch?v=SAWQ_LmyY2Q

full stack
https://www.youtube.com/watch?v=Hl7diL7SFw8&list=PLpPqplz6dKxUaZ630TY1BFIo5nP-_x-nL

slack congo club dev
https://app.slack.com/client/T04J1BXAFPT/C04HHNMH5BN







*/